* {
    box-sizing: border-box 3px solid;
    font-family: 'Courier New', Courier, monospace;
    border-color: gray;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: grey;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(azuree.jpg);
    background-size: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(224, 228, 231);
    padding: 30px;
    width: 500px;
    border-radius: 30px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Tahoma";
    font: 100px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 40px;
    cursor: pointer;
}

div {
    cursor: pointer;
}

img {
    height: 50%;
    width: 50%;
}

input {
    width: 70%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 30px;
    border: 1px solid red;
    background-image: url(Azure\ background.jpg);
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    cursor: text;
}

button {
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    font-size: medium;
    border-radius: 50px;
    border: 3px solid lightblue;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(39, 113, 224);
}

.toggle {
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    color: black(39, 113, 224);
    min-width: fit-content;
}

.toggle:hover {
    text-decoration: solid;
    text-shadow: 100x;
    text-transform: uppercase;
}

.hidden {
    display: none;
}